---
import BaseLayout from '../layouts/BaseLayout.astro';
import Background from '../components/Background.astro';
import Preloader from '../components/Preloader.astro';
import Cursor from '../components/Cursor.astro';
import CommandPalette from '../components/CommandPalette.astro';
import WorkModal from '../components/WorkModal.astro';
import FloatingUI from '../components/FloatingUI.astro';
import MobileMenu from '../components/MobileMenu.astro';
import Navbar from '../components/Navbar.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
    <Background />
    <Preloader />
    <Cursor />
    <CommandPalette />
    <WorkModal />
    <FloatingUI />
    <MobileMenu />
    
    <Navbar />
    <main>
        <Pricing />
        <FAQ />
        <CTA />
    </main>
    <Footer />
</BaseLayout>

